<!DOCTYPE html>
<html lang="es">
  <head th:replace="fragments/head::head(title='MH Optimizer')"></head>

  <body>
    <header th:replace="fragments/parts::header"></header>
    <div class="content">
      <h1>Sobre MHRise Optimizer</h1>
      <p>
        Monster Hunter Rise Optimizer es una página web de código libre hecha
        por fans de la saga RPG de acción Monster Hunter. Esta principalmente
        dirigido a ayudar a los jugadores en un aspecto complejo del juego: la
        optimización de armaduras del personaje. Ya que las armaduras son
        elementos complejos de obtener y contribuyen directamente a como de
        efectivo es tu personaje en el juego, MH Optimizer tratará de almacenar
        las armaduras que el usuario quiere obtener y la manera mas sencilla de
        conseguirlos.
      </p>
    </div>
    <div class="content">
      <h1>Sobre Monster Hunter Rise</h1>
      <p>
        ¡Acepta el reto y apúntate a la caza! En Monster Hunter Rise, la entrega
        más reciente de la galardonada y superexitosa serie Monster Hunter, te
        convertirás en cazador, explorarás mapas nuevos y usarás muchas armas
        diferentes para acabar con monstruos temibles en una historia totalmente
        nueva. La versión para PC también incluye montones de optimizaciones
        visuales y de mejora del rendimiento adicionales.
      </p>
      <h2>Monstruos feroces con una ecología única</h2>
      <p>
        Caza una enorme variedad de monstruos con un comportamiento propio y de
        una ferocidad letal. Desde el regreso de clásicos a criaturas
        completamente nuevas inspiradas en el folklore japonés, incluido el
        monstruo insignia, el wyvern Magnamalo. ¡Deberás pensar rápido y
        aprender sus particularidades si es que quieres hacerte con alguna de
        las recompensas!
      </p>
      <h2>Elige un arma y demuestra tus habilidades</h2>
      <p>
        Usa 14 tipos de armas diferentes con estilos de juego únicos, tanto a
        corta como larga distancia. Ataca y pega fuerte con la devastadora gran
        espada, elimina monstruos espectacularmente con la elegante espada
        larga, conviértete en un letal torbellino de filos cortantes con las
        fulgurantes espadas dobles, carga con la demoledora lanza en ristre o
        dispara desde lejos con el arco y las ballestas. Estos son solo algunos
        de los tipos de armas que hallarás en el juego, por lo que siempre
        encontrarás una perfecta para ti.
      </p>
      <h2>
        Caza, reúne materiales y fabrica para convertirte en el depredador
        supremo
      </h2>
      <p>
        Cada monstruo que caces te proporciona materiales con los que crear
        nuevas armas y armaduras, y mejorar tu equipo actual. ¡Vuelve a salir a
        la naturaleza para cazar monstruos aún más fieros y conseguir
        recompensas todavía mejores! Cambia de arma cuando quieras en una de las
        cajas de equipo. ¡Las posibilidades son ilimitadas!
      </p>
    </div>
  </body>
</html>
